.first{color:crimson;background-color: burlywood;text-align: center;}
.paragraphs{color: crimson;background-color:rgb(247, 247, 31);font-size: larger;}
.two{color: rgb(8, 122, 52) ;background-color: rosybrown;}
h2~ol {color:brown;}